Options -MultiViews
RewriteEngine On

RewriteBase /PHP_course/omtenta/Mwitter/src/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]